#**IMPORT ALL PYTHON PACKAGES**

In [ ]:
#IMPORT PACKAGES
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import seaborn as sns

In [ ]:
#PACKAGE UNTUK CONNECT G-DRIVE N G-COLLAB 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#LOAD DATASET
dataset_customers = pd.read_csv('/content/drive/MyDrive/Dataset/customers_dataset.csv')
dataset_geolocation = pd.read_csv('/content/drive/MyDrive/Dataset/geolocation_dataset.csv')
dataset_items = pd.read_csv('/content/drive/MyDrive/Dataset/order_items_dataset.csv')
dataset_payments = pd.read_csv('/content/drive/MyDrive/Dataset/order_payments_dataset.csv')
dataset_reviews = pd.read_csv('/content/drive/MyDrive/Dataset/order_reviews_dataset.csv')
dataset_orders = pd.read_csv('/content/drive/MyDrive/Dataset/orders_dataset.csv')
dataset_product_category = pd.read_csv('/content/drive/MyDrive/Dataset/product_category_name_translation.csv')
dataset_product = pd.read_csv('/content/drive/MyDrive/Dataset/products_dataset.csv')
dataset_seller = pd.read_csv('/content/drive/MyDrive/Dataset/sellers_dataset.csv')

df = dataset_geolocation
df

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [ ]:
#MERGE DATASET
df = pd.merge(dataset_customers,dataset_orders, on="customer_id")
df = df.merge(dataset_payments, on ="order_id")
df = df.merge(dataset_reviews, on="order_id")
df = df.merge(dataset_items, on="order_id")
df = df.merge(dataset_product, on="product_id")
df = df.merge(dataset_seller, on="seller_id")
df = df.merge(dataset_product_category, on="product_category_name")
df = df.merge(dataset_geolocation, on ="??") # Dataset geolocation don't have primary key with the other database

# Can't conduct geoanalysis because the dataset didn't have primary key to connect with the other datasets